{% extends '@App/base.html.twig' %}

{% block body %}
    {% if section is not defined %}
        {% set section = false %}
    {% endif %}
    <div class="backend">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">faq-demo</a>
                </div>
                <ul class="nav navbar-nav navbar">
                    <li><a href="{{ path('admin_user_index') }}">{{ 'text.user'|transchoice(1, {}, 'texts')|capitalize }}</a></li>
                    <li><a href="{{ path('admin_category_index') }}">{{ 'text.category'|transchoice(1, {}, 'texts')|capitalize }}</a></li>
                    <li><a href="{{ path('admin_question_index') }}">{{ 'text.question'|transchoice(1, {}, 'texts')|capitalize }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">{{ 'text.logout'|trans({}, 'texts')|capitalize }}</a></li>
                </ul>
            </div>
        </nav>
        <input type="hidden" name="section" id="section" value="{{ section }}">
        <div class="body">
            <div class="container">
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { close: 'true' } %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}