<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FAQ demo{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets_vendor %}
            {% stylesheets 'vendor/*.css' 'css/*.css' filter='?uglifycss' filter='cssrewrite' output='compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block stylesheets %}{% endblock %}

        {% block javascripts_vendor %}
            {% javascripts 'vendor/*.js' 'js/*.js' filter='?uglifyjs' output='compiled/app.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
