{% extends '@App/base.html.twig' %}

{% block body %}
    {% if section is not defined %}
        {% set section = false %}
    {% endif %}
    <div class="frontend">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">faq-demo-twig</a>
                </div>
                <ul class="nav navbar-nav navbar">
                    <li><a data-section="category" href="{{ path('front_category_index') }}">{{ 'text.category'|transchoice(1, {}, 'texts')|capitalize }}</a></li>
                    <li><a data-section="question" href="{{ path('front_question_index') }}">{{ 'text.question'|transchoice(1, {}, 'texts')|capitalize }}</a></li>
                    <li><a data-section="reactjs" href="{{ path('front_react_index') }}">faq-demo-reactjs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user is null %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="{{ path('register') }}">Register</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('front_user_edit', { 'id': app.user.id }) }}">{{ 'text.user'|transchoice(0, {}, 'texts')|capitalize }}</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_user_index') }}">{{ 'text.admin'|trans({}, 'texts')|capitalize }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('logout') }}">{{ 'text.logout'|trans({}, 'texts')|capitalize }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <input type="hidden" name="section" id="section" value="{{ section }}">
        <div class="body">
            <div class="container">
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { close: 'true' } %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}