{% extends '@App/frontend.html.twig' %}

{% block content %}
    {% for category in categories %}
        <div class="col-md-12">
            <h1>{{ category.headline }}</h1>
            <p>{{ category.summary|raw }}</p>
            <div>
                <span class="badge">{{ category.createdAt|date('d/m/Y') }}</span>
                <div class="pull-right">
                    <a class="btn btn-info btn-xs" href="{{ path('front_category_question_show', { 'slug': category.slug }) }}">{{ 'text.question'|transchoice(0, {}, 'texts')|lower ~ " & " ~ 'text.answer'|transchoice(0, {}, 'texts')|lower }}</a>
                    <a class="btn btn-info btn-xs" href="{{ path('front_category_show', { 'slug': category.slug }) }}">{{ 'text.show_more'|trans({}, 'texts')|lower }}</a>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}