{% extends '@App/frontend.html.twig' %}

{% block content %}
    <h2>{{ category.headline }}</h2>
    <div class="body-text">
        {{ category.body|raw }}
    </div>
    <ul class="ul-bullet-none">
        {% for question in category.questions if question.isPublic %}
            <li>
                <a href="{{ path('front_category_question_show', { 'slug': category.slug }) ~ '#' ~ question.slug }}">{{ question.headline|e }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
