{% extends '@App/frontend.html.twig' %}

{% block content %}
    <div class="container col-lg-12">
        <div class="col-lg-12 post">
            <div class="container">
                <h2>{{ category.headline }}</h2>
                <span class='text-muted'>{{ category.createdAt|date('d/m/Y') }}</span>
                <div class="body-text">
                    <br/>
                    {% for question in category.questions if question.isPublic %}
                        <div class="row" id="{{ question.slug }}">
                            <div class="col-lg-12">
                                {% include '@App/@blocks/question.html.twig' %}
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
