{% extends '@App/frontend.html.twig' %}

{% block content %}
    {% for question in questions %}
        <div class="col-md-12">
            <div>
                <span class="badge pull-right">{{ question.publishAt|date('d/m/Y') }}</span>
                <div class="pull-left">
                    <a href="{{ path('front_question_show', { 'slug': question.slug }) }}">{{ question.headline|e }}</a>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
