.backend i {  vertical-align: middle; }
.backend .table-users tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

.backend .form-inline.form-fields-space .form-group { margin-top: 8px; margin-right: 8px; }
.backend .form-inline.form-fields-space .form-group + .form-group { }

.backend .form-relative {
	position: relative;
}
