.star {
    float: left;
    display: inline-block;
    background: url("../images/star.png") no-repeat;
    width: 25px;
    height: 25px;
    cursor: default;
}

.star-hover {
    background-position: 0 -25px;
    cursor: pointer;
}

.star-bar {
    position: relative;
}

.star-info {
    font-size: small;
}
