/* @import 'https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i'; */
@font-face {
	font-family: 'poetsen_oneregular';
	src: url('../fonts/poetsenone-regular-webfont.woff') format('woff'),
	url('../fonts/poetsenone-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
