{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    {% include 'AppBundle:Admin/User/@blocks:links.html.twig' %}
	<br/>
    {% include 'AppBundle:Admin/User/@blocks:form.html.twig' %}
{% endblock %}
