{% extends '@App/backend.html.twig' %}

{% block content %}
    {% include 'AppBundle:@modaldialogs:confirmDelete.html.twig' %}
    {% include 'AppBundle:Admin/User/@blocks:links.html.twig' %}
    <section class="light">
        <div class="users">
            {{ form_start(filter, { 'style': 'form-inline form-fields-space form-inline' }) }}
            {{ form_widget(filter) }}
            {{ form_end(filter) }}
            <table class="table table-hover table-striped table-basic table-responsive">
                <thead>
                <tr>
                    <th>{{ 'form.label.name'|trans({}, 'form') }}</th>
                    <th>{{ 'form.label.email'|trans({}, 'form') }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td data-label="{{ 'form.label.name'|trans({}, 'form') }}">{{ user.name }}</td>
                        <td data-label="{{ 'form.label.email'|trans({}, 'form') }}">{{ user.email }}</td>
                        <td data-label="&nbsp;">
                            <span class="buttons">
                                <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-warning btn-xs">{{ 'button.text.edit'|trans({}, 'buttons') }}</a>
                                {% if app.user != user %}
                                    <a href="#"
                                       data-href="{{ path('admin_user_delete', { 'id': user.id }) }}"
                                       class="btn btn-danger btn-xs"
                                       data-toggle="modal"
                                       data-target="#confirm-delete">{{ 'button.text.delete'|trans({}, 'buttons')|lower }}</a>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}