<div class="active-panel clearfix">
	<div class="col-xs-8">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.headline) }}
		{{ form_row(form.body) }}
		{{ form_row(form.category) }}
		{{ form_row(form.publishAt) }}
		{{ form_row(form.expiresAt) }}
		{{ form_row(form.isActive) }}
		<input type="submit" value="{{ 'button.text.save'|trans({}, 'buttons') }}" class="btn btn-success pull-right" />
		{{ form_end(form) }}
	</div>
</div>
