<p style="font-weight: bolder;">{{ question.headline }}</p>
<p class='text-muted'>{{ question.publishAt|date('d/m/Y') }}</p>
<div class="body-text">
    {{ question.body|raw }}
    {% set status = false %}
    {% if app.user %}
        {% set status = app.user.hasQuestionRated(question.id) ? 'voted' : 'vote' %}
    {% endif %}
    <p>{{ starBar(question.id, question.rate, question.rank, 5, 25, status)|raw }}</p>
    <input type="hidden" id="contentRateUrl" value="{{ path('front_content_rate') }}">
</div>
