{% if status == 'vote' %}
    {% set message = 'text.star_info.vote'|trans({}, 'texts') %}
{% elseif status == 'voted' %}
    {% set message = 'text.star_info.voted'|trans({}, 'texts') %}
{% else %}
    {% set message = 'text.star_info.to_vote'|trans({
    '%login%': path('login'),
    '%register%': path('register'),
    }, 'texts') %}
{% endif %}

<div class="star-info" id="info{{ contentId }}">{{ message|raw }}</div>