<div class="star-bar" data-star-num="{{ starNum }}" style="width:{{ style.width }}px; height:{{ style.height }}px; background: linear-gradient(to right, #ffc600 0px,#ffc600 {{ style.lighted }}px,#ccc {{ style.lighted }}px,#ccc {{ style.len }}px);">
    {% for i in 1..starNum %}
        <div class="star{% if status == 'vote' %} enabled{% endif %}" id="star{{ i }}" data-group-id="{{ contentId }}" data-rate="{{ i }}" title="{{ i }}/{{ starNum }}"></div>
    {% endfor %}
</div>