<div class="star-group" id="starGroup{{ contentId }}" data-id="{{ contentId }}">
    {% include '@App/@blocks/starBar.html.twig' %}
    {% include '@App/@blocks/starRating.html.twig' %}
    {% include '@App/@blocks/starInfo.html.twig' %}
</div>