<div class="rating" id="rating{{ contentId }}" style="font-size: small; color: grey">
    Rating: <span class="average">{{ average }}</span>/<span class="average">{{ starNum }}</span> (<span class="rank">{{ rank }}</span>  votes)
</div>