{% extends 'AppBundle::backend.html.twig' %}

{% block content %}
    {% include 'AppBundle:Admin/Question/@blocks:links.html.twig' %}
    <br/>
    {% include 'AppBundle:Admin/Question/@blocks:form.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        var url = "{{ path('admin_category_load') }}";
    </script>
{% endblock %}
