{% extends '@App/backend.html.twig' %}

{% block content %}
    {% include 'AppBundle:@modaldialogs:confirmDelete.html.twig' %}</h1>
    {% include 'AppBundle:Admin/Question/@blocks:links.html.twig' %}
    <section class="light">
        <div class="questions">
            {{ form_start(filter, { 'style': 'form-inline form-fields-space form-inline form-relative' }) }}
            {{ form_widget(filter) }}
            {{ form_end(filter) }}
            <table class="table table-hover table-striped table-basic table-responsive">
                <thead>
                <tr>
                    <th>{{ 'form.label.headline'|trans({}, 'form') }}</th>
                    <th>{{ 'form.label.category'|trans({}, 'form') }}</th>
                    <th>{{ 'form.label.publishAt'|trans({}, 'form') }}</th>
                    <th>{{ 'form.label.expiresAt'|trans({}, 'form') }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td data-label="{{ 'form.label.headline'|trans({}, 'form') }}">{{ question.headline }}</td>
                        <td data-label="{{ 'form.label.category'|trans({}, 'form') }}">{% if question.category %}{{ question.category.slug }}{% else %}&nbsp;{% endif %}</td>
                        <td data-label="{{ 'form.label.publishAt'|trans({}, 'form') }}">{{ question.publishAt|date('d/m/Y') }}</td>
                        <td data-label="{{ 'form.label.expiresAt'|trans({}, 'form') }}">{{ question.expiresAt|date('d/m/Y') }}</td>
                        <td data-label="&nbsp;">
                            <span class="buttons">
                                {% if question.public and question.category and question.category.isActive %}
                                    <a href="{{ path('front_question_show', { 'slug': question.slug }) }}" target="_blank" class="btn btn-info btn-xs">{{ 'button.text.view'|trans({}, 'buttons') }}</a>
                                {% endif %}
                                {% if question.isActive %}
                                    <a href="{{ path('admin_question_disable', { 'id': question.id }) }}" style="background-color: #4b5257" class="btn btn-success btn-xs">{{ 'button.text.disable'|trans({}, 'buttons') }}</a>
                                {% else %}
                                    <a href="{{ path('admin_question_enable', { 'id': question.id }) }}" class="btn btn-success btn-xs">{{ 'button.text.enable'|trans({}, 'buttons') }}</a>
                                {% endif %}
                                <a href="{{ path('admin_question_edit', { 'id': question.id }) }}" class="btn btn-warning btn-xs">{{ 'button.text.edit'|trans({}, 'buttons') }}</a>
                                <a href="#"
                                   data-href="{{ path('admin_question_delete', { 'id': question.id }) }}"
                                   class="btn btn-danger btn-xs"
                                   data-toggle="modal"
                                   data-target="#confirm-delete">{{ 'button.text.delete'|trans({}, 'buttons')|lower }}</a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}