{% extends 'AppBundle::backend.html.twig' %}

{% block content %}
    {% include 'AppBundle:Admin/Category/@blocks:links.html.twig' %}
    <br/>
    {% include 'AppBundle:Admin/Category/@blocks:form.html.twig' %}
{% endblock %}
