{% extends '@App/backend.html.twig' %}

{% block content %}
    {% include 'AppBundle:@modaldialogs:confirmDelete.html.twig' %}
    {% include 'AppBundle:Admin/Category/@blocks:links.html.twig' %}
    <section class="light">
        <div class="categories">
            {{ form_start(filter, { 'style': 'form-inline form-fields-space form-inline' }) }}
            {{ form_widget(filter) }}
            {{ form_end(filter) }}
            <table class="table table-hover table-striped table-basic table-responsive">
                <thead>
                <tr>
                    <th>{{ 'form.label.headline'|trans({}, 'form') }}</th>
                    <th>{{ 'form.label.slug'|trans({}, 'form') }}</th>
                    <th>{{ 'text.question'|transchoice(1, {}, 'texts')|capitalize }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td data-label="{{ 'form.label.headline'|trans({}, 'form') }}">{{ category.headline }}</td>
                        <td data-label="{{ 'form.label.slug'|trans({}, 'form') }}">{{ category.slug }}</td>
                        <td data-label="{{ 'text.question'|transchoice(1, {}, 'texts')|capitalize }}">{{ category.questions|length }}</td>
                        <td data-label="&nbsp;">
                            <span class="buttons">
                                {% if category.isActive %}
                                    <div class="btn-group">
                                        <a href="{{ path('front_category_show', { 'slug': category.slug }) }}" target="_blank" class="btn btn-info btn-xs">{{ 'button.text.view'|trans({}, 'buttons')|lower }}</a>
                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ path('front_category_question_show', { 'slug': category.slug }) }}" target="_blank" class="btn btn-info btn-xs">{{ 'text.question'|transchoice(0, {}, 'texts')|lower ~ " & " ~ 'text.answer'|transchoice(0, {}, 'texts')|lower}}</a></li>
                                        </ul>
                                    </div>
                                    <a href="{{ path('admin_category_disable', { 'id': category.id }) }}" style="background-color: #4b5257" class="btn btn-success btn-xs">{{ 'button.text.disable'|trans({}, 'buttons')|lower }}</a>
                                {% else %}
                                    <a href="{{ path('admin_category_enable', { 'id': category.id }) }}" class="btn btn-success btn-xs">{{ 'button.text.enable'|trans({}, 'buttons')|lower }}</a>
                                {% endif %}
                                <a href="{{ path('admin_category_question_add', { 'id': category.id }) }}" class="btn btn-primary btn-xs">{{ 'button.text.add_question'|trans({}, 'buttons')|lower }}</a>
                                <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="btn btn-warning btn-xs">{{ 'button.text.edit'|trans({}, 'buttons')|lower }}</a>
                                <a href="#"
                                   data-href="{{ path('admin_category_delete', { 'id': category.id }) }}"
                                   class="btn btn-danger btn-xs"
                                   data-toggle="modal"
                                   data-target="#confirm-delete">{{ 'button.text.delete'|trans({}, 'buttons')|lower }}</a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}