{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/110-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/10-frontend.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/bundle.css') }}" />
{% endblock %}

{% block body %}
    <div class="frontend" id="app"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/10-jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/50-bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dist/bundle.js') }}" type="text/javascript"></script>
{% endblock %}
