{% extends '@App/frontend.html.twig' %}

{% block content %}
    <div class="active-panel clearfix">
        <div class="col-xs-8">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}
            <input type="submit" value="Save" class="btn btn-success pull-right" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

