{% extends '@App/frontend.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">

            </div>
        </div>
    </div>
{% endblock %}