<div class="active-panel clearfix">
	<div class="col-xs-8">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.email) }}
		{{ form_row(form.plainPassword) }}
		{{ form_row(form.role) }}
		<input type="submit" value="Save" class="btn btn-success pull-right" />
		{{ form_end(form) }}
	</div>
</div>