<div class="active-panel">
	{% if not index is defined %}
		<a href="{{ path('admin_user_index') }}" class="btn btn-default">{{ 'button.text.back'|trans({}, 'buttons') }}</a>
	{% endif %}
    {% if not create is defined %}
		<a href="{{ path('admin_user_new') }}" class="btn btn-default">{{ 'button.text.create'|trans({}, 'buttons') }}</a>
    {% endif %}
</div>
